textarea {
  margin:5px;
  margin-left:10px;
  padding:5px;
}
button {
  border-radius: .25rem;
  background-color: #0070d2;
  border: 1px solid #0070d2;
  color:white;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 12px;
}
img{
  width:100px;
  margin-left: 10px;
}
.tab {
    overflow: hidden;
    margin-right:5px;
    margin-left:10px;
    border-bottom: 1px solid #ccc;
    border-radius: .25rem;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    color:black;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 12px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.text {
  margin-left:10px;
  margin-bottom: 5px;
  margin-top:5px;
}
.buttonGroup {
    float:right;
    margin-bottom: 5px;
    margin-right:5px;
}
.buttonActions {
  margin-left:25px;
  text-align: center
  
}
.hide {
  display:none;
}

.show{
  align-content: center;
}